@use "global" as *;

.blog-card {
  width: 100%;
  background-color: $white;
  padding: rem(16) rem(16) rem(24) rem(16);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
  height: 100%;
  display: block;
  @include mq("md") {
    // max-width: rem(333);
  }
}

.blog-card__img {
  width: 100%;
  transition: transform 0.6s ease;
}

.blog-card__img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.blog-card__img.blog-card__img--animation {
  overflow: hidden;
}

.blog-card__img.blog-card__img--animation img {
  transition: all 0.5s ease-in-out;
}

.blog-card__img.blog-card__img--animation img:hover {
  transform: scale(1.1);
}

.blog-card__img img {
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.blog-card__body {
  margin-top: rem(18);
}

.blog-card__meta {
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
}

.blog-card__time {
  font-size: rem(12);
  color: $dark-green;
  line-height: 1.5;
  font-family: $font-family-en;
}

.blog-card__category {
  font-family: $font-family-jp;
  font-size: rem(16);
  font-weight: $medium;
  color: $dark-green;
}

.blog-card__text {
  margin-top: rem(16);
  color: $dark-green;
}
