@use "global" as *;

.garellry {
  position: relative;
}

.gallery__modal {
  position: relative; /* 親要素に position: relative; を追加 */
}

.gallery__list {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#202020, 0.8);
  justify-content: center;
  align-items: center;
}

.bigimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.bigimg img {
  max-height: 86vh;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
