@use "global" as *;

.info-card {
  background-color: $white;
  height: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid $green;
}

.info-card__body {
  width: 100%;
  padding: rem(24);
  @include mq("md") {
    padding: rem(24);
    display: flex;
    align-items: center;
  }
}

.info-card__content {
  @include mq("md") {
    max-width: 48%;
  }
}

.info-card__category {
  font-size: rem(24);
  font-family: $font-family-jp;
  font-weight: bold;
  line-height: 1;
  color: $dark-green;
  padding-bottom: rem(8);
  border-bottom: 1px solid $green;
}

.info-card__text {
  margin-top: rem(8);
  font-size: rem(16);
  font-family: $font-family-jp;
  color: #000;
}

.info-card__img {
  margin-top: rem(8);
  max-width: 100%;
  // width: rem(297);
  @include mq("md") {
    max-width: rem(492);
    margin-top: rem(0);
    margin-left: rem(48);
  }
}

.info-card__img img {
  width: 100%;
  aspect-ratio: 297 / 189;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 492 / 313;
  }
}
