@use "global" as *;

.nav-contents__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: rem(35);
  width: 100%;

  @include mq("md") {
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(34);
    max-width: rem(1080);
  }
}

.nav-contents__wrap.nav-contents__wrap--gap {
  column-gap: rem(42);

  @include mq("md") {
    column-gap: rem(70);
  }
}

.nav-contents__contents {
  color: $white;
  padding-left: rem(18);
  @include mq("md") {
    line-height: 1.125;
  }
}

.nav-contents__contents.nav-contents__contents--darkGreen {
  color: $dark-green;
}

.nav-contents__contents:nth-child(2) {
  @include mq("md") {
    order: 4;
  }
}

.nav-contents__contents:nth-child(4) {
  @include mq("md") {
    order: 4;
  }
}

.nav-contents__title {
  position: relative;
  font-weight: $bold;
  font-size: rem(16);
  display: flex;
  margin-left: rem(4);
  @include mq("md") {
    margin-left: 0;
  }
}

.nav-contents__title::before {
  position: absolute;
  content: "";
  background-image: url(../images/common/star-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: rem(1);
  left: rem(-23);
  display: inline-block;
  width: rem(18);
  height: rem(18);
}

.nav-contents__title.nav-contents__title--dark::before {
  background-image: url(../images/sub/star-fish-black.png);
}

.nav-contents__title + .nav-contents__title {
  margin-top: rem(35);
}

.nav-contents__title:nth-child(n + 3) {
  margin-top: rem(35);
}

.nav-contents__title a:hover {
  opacity: 0.7;
}

.nav-contents__item {
  margin-top: rem(17);
  text-indent: rem(2);
  @include mq("md") {
    margin-top: rem(24);
  }
}

.nav-contents__item a {
  font-weight: normal;
  font-size: rem(16);
  display: block;
}

.nav-contents__item a:hover {
  opacity: 0.7;
}
