@use "global" as *;

.sub-page-title__main {
  font-family: $font-family-en2;
  font-size: rem(40);
  font-weight: normal;
  color: $white;
  line-height: 1;
  white-space: nowrap;
  @include mq("md") {
    font-size: rem(80);
  }
}
