@use "global" as *;

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: none;
  width: rem(80);
  height: rem(80);
  @include mq("md") {
    display: flex;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @include mq("md") {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.swiper-button-prev {
  @include mq("md") {
    top: 4%;
    left: 91%;
  }
}

.swiper-button-next {
  @include mq("md") {
    top: 4%;
    left: 76.7%;
  }
}

.swiper-button-prev::after {
  @include mq("md") {
    background-image: url(../images/common/navigation-prev.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.swiper-button-next::after {
  @include mq("md") {
    background-image: url(../images/common/navigation-next.png);
  }
}
