@use "global" as *;

.tab__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: rem(16);
  column-gap: rem(21);
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(32);
  }
}

.tab__menu-item {
  width: 100%;
  max-width: rem(162);
  font-family: $font-family-jp;
  font-size: rem(14);
  color: $green;
  background-color: $white;
  line-height: 1.5;
  border: 1px solid $green;
  text-align: center;
}

.tab__menu-item a {
  width: 100%;
  display: inline-block;
  padding: rem(6);

}


.tab__menu-item:hover {
  color: $white;
  background-color: $green;
  transition: 0.5s;
  cursor: pointer;
}

.tab__menu-item.is-active {
  color: $white;
  background-color: $green;
}
