@use "global" as *;

.terms-of-service__inner.inner {
  @include mq("md") {
    max-width: rem(850);
    width: 100%;
  }
}

.terms-of-service__title {
  font-size: rem(24);
  font-weight: $medium;
  font-family: $font-family-jp;
  line-height: 1;
  @include mq("md") {
    font-size: rem(32);
  }
}

.terms-of-service__wrap {
  margin-top: rem(45);
  line-height: 2;
}

.terms-of-service__wrap ol{
  list-style: decimal;
  margin-left: 1.5em;
}


.terms-of-service__box {
  margin-top: rem(31);
  color: $dark-green;
  font-size: rem(15.8);
}

.terms-of-service__lists {
  counter-reset: list-counter;
  list-style-type: none;
  padding: 0;
  margin-left: rem(5);
}

.terms-of-service__list {
  display: flex;
  counter-increment: list-counter;
  align-items: baseline;
}

.terms-of-service__list::before {
  content: counter(list-counter) ". ";
  margin-right: 0.5em;
}

.terms-of-service__wrap > .terms-of-service__text:last-child {
  margin-top: rem(54);
  @include mq("md") {
    margin-top: rem(42);
  }
}
